.footer{
    small{
        padding-left: 20px;
    }
    li{
        margin-left: 36px;  
    }
    .logo{
        background: url(../img/d’Perfumew.png) no-repeat center;
        background-size: contain;
        display: block;
        width: 130px;
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
    }
}